.TraderHeader{
    width: 100%;
    background-color:skyblue;
}

.header_inner{
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right:40px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}